<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>
      <ion-title>Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-padding">
    <h1>Is The Privacy Policy</h1>
    <br/>
    This demo.  This not even real.  Is for programmer learn to use Ionic learn Angular learn Supabase.
    This not track you.<br/><br/>
    What make you think you important we want to track you?  You have little dog with expensive collar
    and now we send you advertisement for dog shampoo so make money from you?  It not happen.  We busy
    learning the programmers to use Ionic to make real apps to track people with more money than you.
    <br/><br/>
    No track nothing.  Use fake email address if you want.  Is not important to use Onion program.
    <br/><br/>
    You want us to track you send us important data worth money then we track you and put you
    on list of important rich user.
  </div> 
</ion-content>
